@page
@model RazorPagesExample.Web.Pages.NoteModel
@{
}
<h1 class="text-center text-capitalize text-primary">Crear nueva nota</h1>


@{await Html.RenderPartialAsync("Shared/_NoteForm.cshtml", Model.NoteDto);}


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}